  TARGET_NAME:
    cap_add:
      - AUDIT_WRITE
      - AUDIT_CONTROL
    restart: unless-stopped
    build:
      context: .
      dockerfile: TARGET_NAME/Dockerfile
    ports:
      - "${SERVICE_HOST:-127.0.0.1}:TARGET_PORT:22"
    environment:
      - SERVICE_HOST
      - USER_NAME
      - GIT_PASSWORD
      - ROOT_PASSWORD
    volumes:
      - workspace:/workspace
